@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body{
    width: 100vw !important;
    overflow-x: hidden !important;
}

.page-header{
    height: 100vh;
    width: 100vw;
}

#page-header{
    background-size: auto 100%;
    background: url('../img/header.jpg') center top no-repeat fixed;
}

#features{
    background: url('../img/feature-background.jpg') center top no-repeat fixed;
}

#our-team{
    background: url('../img/our-team-background.jpg') center top no-repeat fixed;
}

.page-header-text{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    position: absolute;
    bottom: 50px;
    font-size: 7.5vw;
    text-shadow: 0 0 20px black;
    padding-right: 30px;
}

.page-header-container{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
    width: 100%;
}

.scroll-prompt-container{
    width:100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}
.scroll-prompt-container i {
    font-size: 50px;
    animation: fadein 3s;
}

.scroll-prompt-container a {
    text-decoration: none;
    color:white;
}

.content-row{
    height: 100%;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-size: cover !important;
    overflow-y: hidden;
    overflow-x: hidden;
    width:100%;
    padding-right: 16px;
}

.content-container{
    width:100%;
    background: rgba(0,0,0, 0.85);
}

.content-container h1{
    text-align: center;
    padding-top: 75px;
    width: 100%;
    text-shadow: 0 0 5px black;
}

.icon-listing{
    width:100%;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.icon-listing li{
    padding: 10px;
    list-style-type: none;
    text-align: left;
}

.icon-listing i {
    font-size: 100px;
    background-color: white;
    border-radius: 50%;
    padding: 20px;
    color: #1a1a1a;
    transition: all .1s ease-in;
}

.icon-listing i:hover{
    color: white;
    background-color: rgba(0,0,0,0);
}

.icon-listing h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    text-shadow: 0 0 20px black;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#team-image{
    width:100%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    filter: grayscale(10%);
}

.left-text {
    text-align: left;
}

.over-image{
    background-color: rgba(0,0,0,0.85);
}


.text-card{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

#navbar{
    background: rgba(50,50,50,1);
}